body {
  margin: 0;
  min-height: 100%;
  background: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

button {
  margin: 10px;
  width: 100px;
}

.background {
  background: rgb(93,144,191);
  background: linear-gradient(180deg, rgba(93,144,191,1) 0%, rgba(150,184,215,1) 29%, rgba(212,227,237,1) 52%, rgba(239,232,235,1) 75%, rgba(235,208,212,1) 85%);
  min-height: 100%;
  margin: 0;
  background-size: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  max-width: 960px;
  height: inherit;
}

.pricing-header {
  max-width: 700px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.d-flex{
  background-color: rgb(152, 175, 248);
  padding: 0px !important;
  border-bottom: 0px !important;
}
.title-wear {
  width: 100%;
  columns: #fb380a;
  background-image:url(./Images/wind.gif);
  text-align: center;
  background-color: #54768c
}

.title-image {
  background-color: #54768c;
  background-image: url(./Images/wind.gif) ;
}

.title-the{
  font-size: 50px;
  font-weight: 600;
  color: rgb(32, 62, 78);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  position: relative;
  top: 10px;
}

.mb-3 {
  margin: 0 !important;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (max-width: 500px) {
  input {
    width: 200px;
  }

  button {
    width: 200px;
  }

  .gif{
    background-image:url(./Images/wind.gif);
  }
}
