.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.title-wear {
  width: 100%;
  columns: #fb380a;
  background-image:url(./clothes/rain.gif);
  text-align: center;

}

.title-the{
  font-size: 50px;
  font-weight: 600;
  color: rgb(32, 62, 78);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  position: relative;
  top: 10px;
}


#WEAR {
  height:70px;
  width:50px
}
